<%= content_tag_for :tr, meal do %>
  <td><%= meal.name %></td>
  <td><%= meal.calories %></td>
  <td><%= meal.meal_time_to_s %></td>
  <td><%= meal.meal_date_to_s %></td>
  <td>
    <%= link_to 'Edit',
                edit_meal_path(meal), class: 'btn btn-default btn-xs edit-meal',
                remote: true %>
    <%= link_to 'Delete',
                meal_path(meal),
                method: :delete,
                remote: true,
                class: 'btn btn-xs btn-danger'
                 %>
  </td>
<% end %>