<%- model_class = Meal -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div id="filters">
  <div id="time-filter">
    <%= text_field_tag :from, params[:filter][:from], class: 'form-control time-picker' %>
    <%= text_field_tag :to,   params[:filter][:to], class: 'form-control time-picker' %>
  </div>

  <div id="date-filter">
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:meal) %></th>
      <th><%= model_class.human_attribute_name(:calories) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
        <%= render meal %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', default: t("helpers.links.new")),
            new_meal_path,
            class:  'btn btn-primary',
            id:     'new_form',
            remote: true %>

<script type="text/javascript">
    $(function () {
        $('.date-picker').datetimepicker({
              pickTime: false
          });
    });

    $(function () {
        $('.time-picker').datetimepicker({
              pickDate: false,
              useSeconds: false
          });
    });
</script>